In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
consumo = pd.read_csv("./src/data/Coffee_domestic_consumption.csv")
export = pd.read_csv("./src/data/Coffee_export.csv")
import_ = pd.read_csv("./src/data/Coffee_import.csv")
re_export = pd.read_csv("./src/data/Coffee_re_export.csv")
domestic = pd.read_csv("./src/data/Coffee_domestic_consumption.csv")
importers = pd.read_csv("./src/data/Coffee_importers_consumption.csv")
inventory = pd.read_csv("./src/data/Coffee_green_coffee_inventorie.csv")

‚ÄúSe va a crear una funci√≥n auxiliar para realizar una exploraci√≥n de todos los datasets, permitiendo identificar r√°pidamente su estructura, calidad y posibles problemas antes del an√°lisis.‚Äù

In [26]:
def explore_df(df, name):

    print(f"DATASET: {name}")
  
    # Primeras filas
    print("\nüîπ Primeras filas:")
    display(df.head())
    
    # Tama√±o
    print(f"\nüîπ Dimensiones: {df.shape[0]} filas x {df.shape[1]} columnas")
    
    # Info
    print("\nüîπ Informaci√≥n general:")
    df.info()
    
    # Valores nulos
    print("\nüîπ Valores nulos por columna:")
    display(df.isna().sum())
    
    # Duplicados
    print(f"\nüîπ Filas duplicadas: {df.duplicated().sum()}")
    
    # Estad√≠sticas descriptivas
    print("\nüîπ Estad√≠sticas descriptivas:")
    display(df.describe(include="all"))

In [27]:
explore_df(consumo, "Consumo")
explore_df(export, "Export")
explore_df(import_, "Import")
explore_df(re_export, "Re-Export")
explore_df(importers, "Consumo de Importadores")
explore_df(inventory, "Green Coffee Inventory")

DATASET: Consumo

üîπ Primeras filas:

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
0,Angola,Robusta/Arabica,1200000,1800000,2100000,1200000,1500000,600000,1200000,2400000,...,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,46500000
1,Bolivia (Plurinational State of),Arabica,1500000,1620000,1650000,1710000,1770000,1830000,1890000,1950000,...,2940000,3030000,3120000,3210000,3300000,3420000,3510000,3600000,3660000,75180000
2,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
3,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020
4,Ecuador,Arabica/Robusta,21000000,21000000,21000000,21000000,21000000,21000000,18000000,18000000,...,9000000,9000000,9300000,9300000,9300000,9300000,9300000,9300000,8940000,381540000

üîπ Dimensiones: 55 filas x 33 columnas

üîπ Informaci√≥n general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country                     55 non-null     object
 1   Coffee type                 55 non-null     object
 2   1990/91                     55 non-null     int64
 3   1991/92                     55 non-null     int64
 4   1992/93                     55 non-null     int64
 5   1993/94                     55 non-null     int64
 6   1994/95                     55 non-null     int64
 7   1995/96                     55 non-null     int64
 8   1996/97                     55 non-null     int64
 9   1997/98                     55 non-null     int64
 10  1998/99                     55 non-null     int64
 11  1999/00                     55 non-null     int64
 12  2000/01                     55 non-null     int64
 13  2001/02                     55 non-null     int64
 14  2002/03                     55 non-null     int64
 15  2003/04                     55 non-null     int64
 16  2004/05                     55 non-null     int64
 17  2005/06                     55 non-null     int64
 18  2006/07                     55 non-null     int64
 19  2007/08                     55 non-null     int64
 20  2008/09                     55 non-null     int64
 21  2009/10                     55 non-null     int64
 22  2010/11                     55 non-null     int64
 23  2011/12                     55 non-null     int64
 24  2012/13                     55 non-null     int64
 25  2013/14                     55 non-null     int64
 26  2014/15                     55 non-null     int64
 27  2015/16                     55 non-null     int64
 28  2016/17                     55 non-null     int64
 29  2017/18                     55 non-null     int64
 30  2018/19                     55 non-null     int64
 31  2019/20                     55 non-null     int64
 32  Total_domestic_consumption  55 non-null     int64
dtypes: int64(31), object(2)
memory usage: 14.3+ KB

üîπ Valores nulos por columna:

Country                       0
Coffee type                   0
1990/91                       0
1991/92                       0
1992/93                       0
1993/94                       0
1994/95                       0
1995/96                       0
1996/97                       0
1997/98                       0
1998/99                       0
1999/00                       0
2000/01                       0
2001/02                       0
2002/03                       0
2003/04                       0
2004/05                       0
2005/06                       0
2006/07                       0
2007/08                       0
2008/09                       0
2009/10                       0
2010/11                       0
2011/12                       0
2012/13                       0
2013/14                       0
2014/15                       0
2015/16                       0
2016/17                       0
2017/18                       0
2018/19                       0
2019/20                       0
Total_domestic_consumption    0
dtype: int64

üîπ Filas duplicadas: 0

üîπ Estad√≠sticas descriptivas:

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
count,55,55,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,...,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01
unique,55,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Angola,Arabica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,2.128278e+07,2.206701e+07,2.285613e+07,2.301590e+07,2.330200e+07,2.465735e+07,2.565010e+07,2.647750e+07,...,4.711907e+07,4.871183e+07,4.944423e+07,5.069858e+07,5.165367e+07,5.272819e+07,5.420271e+07,5.481235e+07,5.452530e+07,1.112487e+09
std,NaN,NaN,6.810062e+07,7.032839e+07,7.363077e+07,7.511769e+07,7.679945e+07,8.321743e+07,9.039443e+07,9.438905e+07,...,1.634943e+08,1.687185e+08,1.676074e+08,1.701179e+08,1.719262e+08,1.777393e+08,1.840522e+08,1.858924e+08,1.844917e+08,3.834783e+09
min,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,NaN,NaN,1.800000e+05,1.800000e+05,1.800000e+05,2.400000e+05,2.400000e+05,2.400000e+05,1.800000e+05,1.800000e+05,...,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,3.000000e+05,9.586920e+06
50%,NaN,NaN,2.040000e+06,3.000000e+06,3.000000e+06,2.400000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,...,4.020000e+06,4.302000e+06,4.408020e+06,4.519020e+06,4.560000e+06,4.620000e+06,4.680000e+06,4.200000e+06,4.290000e+06,1.216200e+08
75%,NaN,NaN,1.299000e+07,1.671300e+07,1.650000e+07,1.731000e+07,1.650000e+07,1.775535e+07,1.792548e+07,1.800000e+07,...,2.070000e+07,2.115000e+07,2.070000e+07,2.205000e+07,2.205000e+07,2.100000e+07,2.155002e+07,2.220000e+07,2.106000e+07,5.897930e+08
max,NaN,NaN,4.920000e+08,5.100000e+08,5.340000e+08,5.460000e+08,5.580000e+08,6.060000e+08,6.600000e+08,6.900000e+08,...,1.183200e+09,1.219800e+09,1.205100e+09,1.219980e+09,1.230480e+09,1.273500e+09,1.319820e+09,1.332000e+09,1.320000e+09,2.782470e+10

DATASET: Export

üîπ Primeras filas:

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_export
0,Angola,5040000,4260000,4800000,2340000,480000,2460000,3120000,3000000,3240000,...,480000,480000,360000,540000,660000,660000,540000,540000,1380000,43320000
1,Bolivia (Plurinational State of),9360000,4440000,5760000,2820000,5040000,5640000,7380000,6660000,5820000,...,4440000,3780000,3300000,3720000,1800000,1320000,1560000,1320000,1200000,137460000
2,Brazil,1016160000,1270980000,1127460000,1070280000,1036380000,868080000,915060000,1008060000,1088640000,...,2028360000,1712940000,1899060000,-2147483648,-2147483648,2056140000,1855500000,2138220000,-2147483648,33807709056
3,Burundi,35100000,41280000,38760000,25080000,30480000,31680000,13440000,31740000,22440000,...,13080000,23520000,11700000,15120000,13800000,12240000,10140000,12120000,17580000,646200000
4,Cameroon,156660000,105120000,98760000,42300000,32760000,24420000,33840000,82080000,44760000,...,29400000,37320000,16320000,22500000,23400000,16860000,14700000,17220000,15000000,1399920000

üîπ Dimensiones: 55 filas x 32 columnas

üîπ Informaci√≥n general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 32 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       55 non-null     object
 1   1990          55 non-null     int64
 2   1991          55 non-null     int64
 3   1992          55 non-null     int64
 4   1993          55 non-null     int64
 5   1994          55 non-null     int64
 6   1995          55 non-null     int64
 7   1996          55 non-null     int64
 8   1997          55 non-null     int64
 9   1998          55 non-null     int64
 10  1999          55 non-null     int64
 11  2000          55 non-null     int64
 12  2001          55 non-null     int64
 13  2002          55 non-null     int64
 14  2003          55 non-null     int64
 15  2004          55 non-null     int64
 16  2005          55 non-null     int64
 17  2006          55 non-null     int64
 18  2007          55 non-null     int64
 19  2008          55 non-null     int64
 20  2009          55 non-null     int64
 21  2010          55 non-null     int64
 22  2011          55 non-null     int64
 23  2012          55 non-null     int64
 24  2013          55 non-null     int64
 25  2014          55 non-null     int64
 26  2015          55 non-null     int64
 27  2016          55 non-null     int64
 28  2017          55 non-null     int64
 29  2018          55 non-null     int64
 30  2019          55 non-null     int64
 31  Total_export  55 non-null     int64
dtypes: int64(31), object(1)
memory usage: 13.9+ KB

üîπ Valores nulos por columna:

Country         0
1990            0
1991            0
1992            0
1993            0
1994            0
1995            0
1996            0
1997            0
1998            0
1999            0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
Total_export    0
dtype: int64

üîπ Filas duplicadas: 0

üîπ Estad√≠sticas descriptivas:

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_export
count,55,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,...,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01,5.500000e+01
unique,55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,8.800800e+07,8.284691e+07,8.541382e+07,8.200036e+07,7.713600e+07,7.404436e+07,8.472982e+07,8.775055e+07,8.753673e+07,...,1.114767e+08,1.183015e+08,1.184389e+08,4.627702e+07,4.695557e+07,1.323622e+08,1.303887e+08,1.381047e+08,6.021884e+07,2.851332e+09
std,NaN,1.832890e+08,2.019180e+08,2.031566e+08,1.852049e+08,1.719033e+08,1.471032e+08,1.634044e+08,1.761129e+08,1.836647e+08,...,3.121420e+08,3.032438e+08,3.130926e+08,3.818677e+08,3.713066e+08,3.763857e+08,3.407518e+08,3.927493e+08,3.977899e+08,6.261177e+09
min,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,-2.147484e+09,-2.147484e+09,0.000000e+00,0.000000e+00,0.000000e+00,-2.147484e+09,1.500000e+06
25%,NaN,4.020000e+06,3.960000e+06,2.310000e+06,2.220000e+06,1.860000e+06,2.370000e+06,1.680000e+06,2.220000e+06,1.800000e+06,...,5.400000e+05,4.500000e+05,3.600000e+05,5.700000e+05,4.500000e+05,6.600000e+05,5.700000e+05,5.100000e+05,3.900000e+05,6.084000e+07
50%,NaN,1.578000e+07,9.300000e+06,9.960000e+06,1.308000e+07,9.180000e+06,1.200000e+07,9.360000e+06,1.218000e+07,1.284000e+07,...,7.920000e+06,8.220000e+06,4.200000e+06,3.720000e+06,3.540000e+06,4.560000e+06,3.480000e+06,6.660000e+06,3.180000e+06,3.160800e+08
75%,NaN,1.055700e+08,8.502000e+07,7.971000e+07,7.818000e+07,8.499000e+07,8.970000e+07,1.055100e+08,9.048000e+07,9.099000e+07,...,8.133000e+07,8.862000e+07,7.818000e+07,5.808000e+07,4.743000e+07,6.420000e+07,4.947000e+07,6.234000e+07,5.625000e+07,2.552670e+09
max,NaN,1.016160e+09,1.270980e+09,1.127460e+09,1.070280e+09,1.036380e+09,8.680800e+08,9.150600e+08,1.008060e+09,1.088640e+09,...,2.028360e+09,1.712940e+09,1.899060e+09,1.565820e+09,1.316640e+09,2.056140e+09,1.855500e+09,2.138220e+09,1.644000e+09,3.380771e+10

DATASET: Import

üîπ Primeras filas:

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_import
0,Austria,112800000,123480000,132360000,110160000,85020000,73860000,72600000,77640000,77580000,...,87120000,93540000,93300000,91500000,90780000,89700000,87600000,85740000,86880000,2765760000
1,Belgium,0,0,0,0,0,0,0,0,0,...,349680000,340080000,330120000,312720000,332040000,363120000,340620000,344520000,371940000,6240540000
2,Belgium/Luxembourg,120900000,104760000,109680000,123780000,135720000,144060000,151560000,152640000,214800000,...,0,0,0,0,0,0,0,0,0,1257900000
3,Bulgaria,16080000,12000000,10920000,23820000,27780000,30900000,16320000,17640000,20520000,...,28920000,33600000,36540000,37260000,40920000,46740000,42420000,44220000,47100000,830700000
4,Croatia,0,0,10080000,9780000,11580000,19200000,19320000,23100000,20340000,...,23460000,23040000,24780000,25200000,26220000,28740000,26340000,26760000,27960000,622080000

üîπ Dimensiones: 35 filas x 32 columnas

üîπ Informaci√≥n general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 32 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       35 non-null     object
 1   1990          35 non-null     int64
 2   1991          35 non-null     int64
 3   1992          35 non-null     int64
 4   1993          35 non-null     int64
 5   1994          35 non-null     int64
 6   1995          35 non-null     int64
 7   1996          35 non-null     int64
 8   1997          35 non-null     int64
 9   1998          35 non-null     int64
 10  1999          35 non-null     int64
 11  2000          35 non-null     int64
 12  2001          35 non-null     int64
 13  2002          35 non-null     int64
 14  2003          35 non-null     int64
 15  2004          35 non-null     int64
 16  2005          35 non-null     int64
 17  2006          35 non-null     int64
 18  2007          35 non-null     int64
 19  2008          35 non-null     int64
 20  2009          35 non-null     int64
 21  2010          35 non-null     int64
 22  2011          35 non-null     int64
 23  2012          35 non-null     int64
 24  2013          35 non-null     int64
 25  2014          35 non-null     int64
 26  2015          35 non-null     int64
 27  2016          35 non-null     int64
 28  2017          35 non-null     int64
 29  2018          35 non-null     int64
 30  2019          35 non-null     int64
 31  Total_import  35 non-null     int64
dtypes: int64(31), object(1)
memory usage: 8.9+ KB

üîπ Valores nulos por columna:

Country         0
1990            0
1991            0
1992            0
1993            0
1994            0
1995            0
1996            0
1997            0
1998            0
1999            0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
Total_import    0
dtype: int64

üîπ Filas duplicadas: 0

üîπ Estad√≠sticas descriptivas:

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_import
count,35,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,...,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01
unique,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1.270834e+08,1.221943e+08,1.357989e+08,1.322023e+08,1.286126e+08,1.240646e+08,1.334674e+08,1.389651e+08,1.418863e+08,...,1.916794e+08,1.940109e+08,1.987337e+08,2.057606e+08,2.080800e+08,2.187960e+08,2.161097e+08,2.227629e+08,2.313326e+08,5.069693e+09
std,NaN,2.543488e+08,2.435393e+08,2.690354e+08,2.424808e+08,2.178530e+08,2.188911e+08,2.415144e+08,2.500391e+08,2.548447e+08,...,3.363666e+08,3.404099e+08,3.453368e+08,3.539295e+08,3.511787e+08,3.667628e+08,3.684394e+08,3.678250e+08,3.854538e+08,8.850559e+09
min,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.970000e+07
25%,NaN,6.300000e+05,4.800000e+05,6.180000e+06,7.890000e+06,8.880000e+06,8.550000e+06,9.750000e+06,1.074000e+07,1.077000e+07,...,2.151000e+07,2.163000e+07,2.373000e+07,2.499000e+07,2.595000e+07,2.835000e+07,2.613000e+07,2.937000e+07,2.946000e+07,5.573100e+08
50%,NaN,3.444000e+07,3.150000e+07,3.618000e+07,4.008000e+07,4.626000e+07,3.798000e+07,4.458000e+07,4.362000e+07,4.572000e+07,...,5.712000e+07,6.456000e+07,6.378000e+07,6.360000e+07,6.264000e+07,6.804000e+07,6.564000e+07,6.960000e+07,7.320000e+07,1.640040e+09
75%,NaN,1.168500e+08,1.141200e+08,1.210200e+08,1.169700e+08,1.246500e+08,1.251600e+08,1.335000e+08,1.439100e+08,1.546500e+08,...,2.276100e+08,2.300700e+08,2.283900e+08,2.500500e+08,2.665800e+08,2.949900e+08,3.017100e+08,3.242400e+08,3.272400e+08,5.841240e+09
max,NaN,1.260420e+09,1.190400e+09,1.376340e+09,1.159740e+09,9.702600e+08,1.026420e+09,1.166700e+09,1.220580e+09,1.261800e+09,...,1.565580e+09,1.563360e+09,1.620960e+09,1.653900e+09,1.662480e+09,1.730280e+09,1.769280e+09,1.735080e+09,1.851240e+09,4.250766e+10

DATASET: Re-Export

üîπ Primeras filas:

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_re_export
0,Austria,24900000,45360000,57600000,32100000,22860000,13740000,9780000,13320000,12600000,...,21900000,18240000,18660000,23160000,22680000,18480000,18480000,15420000,16440000,869220000
1,Belgium,0,0,0,0,0,0,0,0,0,...,293640000,285240000,255420000,237180000,267600000,273000000,262620000,262620000,300840000,4779780000
2,Belgium/Luxembourg,53460000,62280000,67860000,76440000,78240000,79680000,89220000,99480000,136200000,...,0,0,0,0,0,0,0,0,0,742860000
3,Bulgaria,9960000,10980000,420000,4200000,6600000,7320000,1560000,1140000,1080000,...,7320000,11040000,11460000,14640000,16500000,19620000,17520000,18720000,21720000,205620000
4,Croatia,0,0,2040000,1860000,1800000,1920000,1020000,1440000,1140000,...,1440000,1440000,1560000,3060000,3780000,5940000,4680000,5160000,5160000,57900000

üîπ Dimensiones: 35 filas x 32 columnas

üîπ Informaci√≥n general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country          35 non-null     object
 1   1990             35 non-null     int64
 2   1991             35 non-null     int64
 3   1992             35 non-null     int64
 4   1993             35 non-null     int64
 5   1994             35 non-null     int64
 6   1995             35 non-null     int64
 7   1996             35 non-null     int64
 8   1997             35 non-null     int64
 9   1998             35 non-null     int64
 10  1999             35 non-null     int64
 11  2000             35 non-null     int64
 12  2001             35 non-null     int64
 13  2002             35 non-null     int64
 14  2003             35 non-null     int64
 15  2004             35 non-null     int64
 16  2005             35 non-null     int64
 17  2006             35 non-null     int64
 18  2007             35 non-null     int64
 19  2008             35 non-null     int64
 20  2009             35 non-null     int64
 21  2010             35 non-null     int64
 22  2011             35 non-null     int64
 23  2012             35 non-null     int64
 24  2013             35 non-null     int64
 25  2014             35 non-null     int64
 26  2015             35 non-null     int64
 27  2016             35 non-null     int64
 28  2017             35 non-null     int64
 29  2018             35 non-null     int64
 30  2019             35 non-null     int64
 31  Total_re_export  35 non-null     int64
dtypes: int64(31), object(1)
memory usage: 8.9+ KB

üîπ Valores nulos por columna:

Country            0
1990               0
1991               0
1992               0
1993               0
1994               0
1995               0
1996               0
1997               0
1998               0
1999               0
2000               0
2001               0
2002               0
2003               0
2004               0
2005               0
2006               0
2007               0
2008               0
2009               0
2010               0
2011               0
2012               0
2013               0
2014               0
2015               0
2016               0
2017               0
2018               0
2019               0
Total_re_export    0
dtype: int64

üîπ Filas duplicadas: 0

üîπ Estad√≠sticas descriptivas:

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_re_export
count,35,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,...,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01
unique,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1.503429e+07,1.674686e+07,1.833086e+07,1.892400e+07,2.199600e+07,1.978286e+07,2.140457e+07,2.423314e+07,2.594400e+07,...,6.078686e+07,6.210000e+07,6.219600e+07,6.692057e+07,6.901371e+07,7.274743e+07,7.390286e+07,7.681371e+07,8.039486e+07,1.304784e+09
std,NaN,3.563589e+07,3.644939e+07,3.855293e+07,3.897293e+07,4.503427e+07,3.933675e+07,4.403608e+07,4.847841e+07,5.187260e+07,...,1.298753e+08,1.369259e+08,1.306904e+08,1.392042e+08,1.366847e+08,1.453813e+08,1.484832e+08,1.513226e+08,1.550713e+08,2.634197e+09
min,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.140000e+06
25%,NaN,0.000000e+00,0.000000e+00,1.800000e+05,2.400000e+05,5.100000e+05,4.800000e+05,6.600000e+05,8.400000e+05,6.900000e+05,...,2.460000e+06,3.210000e+06,4.200000e+06,3.960000e+06,4.470000e+06,6.300000e+06,6.660000e+06,5.610000e+06,5.790000e+06,9.384000e+07
50%,NaN,9.600000e+05,1.200000e+06,1.740000e+06,3.960000e+06,2.820000e+06,4.440000e+06,3.060000e+06,4.560000e+06,3.780000e+06,...,1.164000e+07,1.104000e+07,1.146000e+07,1.362000e+07,1.392000e+07,1.572000e+07,1.752000e+07,1.602000e+07,1.734000e+07,2.898000e+08
75%,NaN,1.293000e+07,1.587000e+07,1.383000e+07,1.275000e+07,1.383000e+07,1.338000e+07,1.404000e+07,1.845000e+07,1.746000e+07,...,6.921000e+07,6.657000e+07,7.182000e+07,7.461000e+07,7.983000e+07,8.598000e+07,9.528000e+07,1.061400e+08,1.077600e+08,1.505760e+09
max,NaN,1.975200e+08,1.951200e+08,1.990800e+08,1.969200e+08,2.081400e+08,1.932000e+08,2.167800e+08,2.361000e+08,2.437800e+08,...,7.009800e+08,7.554000e+08,7.212000e+08,7.746600e+08,7.497600e+08,7.987800e+08,8.160000e+08,8.262000e+08,8.280600e+08,1.455888e+10

DATASET: Consumo de Importadores

üîπ Primeras filas:

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_import_consumption
0,Austria,80400000,78120000,72720000,80100000,65160000,60720000,64560000,65220000,66300000,...,67020000,76140000,74940000,68100000,68160000,71580000,69720000,70320000,70380000,1904520000
1,Belgium,0,0,0,0,0,0,0,0,0,...,56040000,54900000,74700000,75540000,64440000,90120000,78000000,81900000,71100000,1460520000
2,Belgium/Luxembourg,67440000,42480000,41760000,47340000,57480000,64380000,62340000,53160000,78540000,...,0,0,0,0,0,0,0,0,0,514920000
3,Bulgaria,6120000,1020000,10500000,19620000,21180000,23580000,14760000,16500000,19440000,...,21600000,22560000,25140000,22560000,24360000,27120000,24900000,25560000,25380000,625080000
4,Croatia,0,0,8100000,7920000,9840000,17280000,18240000,21660000,19200000,...,22020000,21600000,23220000,22080000,22500000,22800000,21660000,21600000,22860000,564180000

üîπ Dimensiones: 35 filas x 32 columnas

üîπ Informaci√≥n general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   35 non-null     object
 1   1990                      35 non-null     int64
 2   1991                      35 non-null     int64
 3   1992                      35 non-null     int64
 4   1993                      35 non-null     int64
 5   1994                      35 non-null     int64
 6   1995                      35 non-null     int64
 7   1996                      35 non-null     int64
 8   1997                      35 non-null     int64
 9   1998                      35 non-null     int64
 10  1999                      35 non-null     int64
 11  2000                      35 non-null     int64
 12  2001                      35 non-null     int64
 13  2002                      35 non-null     int64
 14  2003                      35 non-null     int64
 15  2004                      35 non-null     int64
 16  2005                      35 non-null     int64
 17  2006                      35 non-null     int64
 18  2007                      35 non-null     int64
 19  2008                      35 non-null     int64
 20  2009                      35 non-null     int64
 21  2010                      35 non-null     int64
 22  2011                      35 non-null     int64
 23  2012                      35 non-null     int64
 24  2013                      35 non-null     int64
 25  2014                      35 non-null     int64
 26  2015                      35 non-null     int64
 27  2016                      35 non-null     int64
 28  2017                      35 non-null     int64
 29  2018                      35 non-null     int64
 30  2019                      35 non-null     int64
 31  Total_import_consumption  35 non-null     int64
dtypes: int64(31), object(1)
memory usage: 8.9+ KB

üîπ Valores nulos por columna:

Country                     0
1990                        0
1991                        0
1992                        0
1993                        0
1994                        0
1995                        0
1996                        0
1997                        0
1998                        0
1999                        0
2000                        0
2001                        0
2002                        0
2003                        0
2004                        0
2005                        0
2006                        0
2007                        0
2008                        0
2009                        0
2010                        0
2011                        0
2012                        0
2013                        0
2014                        0
2015                        0
2016                        0
2017                        0
2018                        0
2019                        0
Total_import_consumption    0
dtype: int64

üîπ Filas duplicadas: 0

üîπ Estad√≠sticas descriptivas:

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_import_consumption
count,35,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,...,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01,3.500000e+01
unique,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1.016966e+08,1.095960e+08,1.112211e+08,1.177817e+08,1.092720e+08,1.124451e+08,1.144783e+08,1.140394e+08,1.164463e+08,...,1.299497e+08,1.306731e+08,1.344000e+08,1.373880e+08,1.373486e+08,1.441491e+08,1.425600e+08,1.476874e+08,1.492543e+08,3.752998e+09
std,NaN,2.039203e+08,2.289454e+08,2.111271e+08,2.269096e+08,1.983025e+08,2.115204e+08,2.138806e+08,2.082537e+08,2.156537e+08,...,2.470213e+08,2.465019e+08,2.582018e+08,2.601862e+08,2.653670e+08,2.729723e+08,2.812230e+08,2.842400e+08,2.916639e+08,7.057067e+09
min,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.862000e+07
25%,NaN,6.000000e+05,3.900000e+05,6.060000e+06,7.170000e+06,8.670000e+06,8.310000e+06,9.240000e+06,9.780000e+06,9.270000e+06,...,1.269000e+07,1.278000e+07,1.314000e+07,1.875000e+07,1.680000e+07,1.680000e+07,1.593000e+07,1.914000e+07,1.863000e+07,4.686300e+08
50%,NaN,3.444000e+07,2.322000e+07,3.606000e+07,3.342000e+07,4.344000e+07,3.792000e+07,4.278000e+07,4.050000e+07,4.176000e+07,...,4.812000e+07,4.968000e+07,5.040000e+07,5.478000e+07,4.728000e+07,5.202000e+07,4.824000e+07,6.354000e+07,5.586000e+07,1.340460e+09
75%,NaN,9.087000e+07,8.718000e+07,9.852000e+07,1.023900e+08,1.036200e+08,9.861000e+07,9.159000e+07,1.146900e+08,1.082400e+08,...,9.477000e+07,9.954000e+07,9.882000e+07,1.035600e+08,9.957000e+07,1.216200e+08,1.261500e+08,1.374300e+08,1.359300e+08,3.383460e+09
max,NaN,1.097880e+09,1.119660e+09,1.097400e+09,1.153020e+09,1.039560e+09,1.041780e+09,1.083540e+09,1.067700e+09,1.116240e+09,...,1.322640e+09,1.333920e+09,1.405020e+09,1.426020e+09,1.466280e+09,1.514580e+09,1.570980e+09,1.590840e+09,1.638600e+09,3.781680e+10

DATASET: Green Coffee Inventory

üîπ Primeras filas:

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_inventorie
0,Austria,19980000,19980000,22020000,19980000,16980000,16440000,14760000,13860000,12600000,...,6660000,5820000,5520000,5760000,5760000,5400000,4800000,4800000,4800000,306660000
1,Cyprus,600000,720000,600000,480000,780000,780000,720000,360000,540000,...,360000,240000,420000,720000,360000,120000,180000,300000,0,14520000
2,Denmark,5340000,5340000,5340000,5340000,5340000,5340000,5340000,5340000,5340000,...,5340000,5340000,5340000,5340000,5340000,5340000,5340000,5340000,5340000,160200000
3,Finland,10560000,13380000,12780000,11280000,16920000,13200000,8400000,10860000,9720000,...,4980000,4980000,4980000,4980000,4980000,4980000,4980000,4980000,4980000,219120000
4,France,34380000,33720000,32220000,23340000,28860000,18060000,15960000,19020000,21000000,...,24840000,26760000,26280000,29940000,30420000,34320000,28500000,27840000,27120000,843120000

üîπ Dimensiones: 18 filas x 32 columnas

üîπ Informaci√≥n general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           18 non-null     object
 1   1990              18 non-null     int64
 2   1991              18 non-null     int64
 3   1992              18 non-null     int64
 4   1993              18 non-null     int64
 5   1994              18 non-null     int64
 6   1995              18 non-null     int64
 7   1996              18 non-null     int64
 8   1997              18 non-null     int64
 9   1998              18 non-null     int64
 10  1999              18 non-null     int64
 11  2000              18 non-null     int64
 12  2001              18 non-null     int64
 13  2002              18 non-null     int64
 14  2003              18 non-null     int64
 15  2004              18 non-null     int64
 16  2005              18 non-null     int64
 17  2006              18 non-null     int64
 18  2007              18 non-null     int64
 19  2008              18 non-null     int64
 20  2009              18 non-null     int64
 21  2010              18 non-null     int64
 22  2011              18 non-null     int64
 23  2012              18 non-null     int64
 24  2013              18 non-null     int64
 25  2014              18 non-null     int64
 26  2015              18 non-null     int64
 27  2016              18 non-null     int64
 28  2017              18 non-null     int64
 29  2018              18 non-null     int64
 30  2019              18 non-null     int64
 31  Total_inventorie  18 non-null     int64
dtypes: int64(31), object(1)
memory usage: 4.6+ KB

üîπ Valores nulos por columna:

Country             0
1990                0
1991                0
1992                0
1993                0
1994                0
1995                0
1996                0
1997                0
1998                0
1999                0
2000                0
2001                0
2002                0
2003                0
2004                0
2005                0
2006                0
2007                0
2008                0
2009                0
2010                0
2011                0
2012                0
2013                0
2014                0
2015                0
2016                0
2017                0
2018                0
2019                0
Total_inventorie    0
dtype: int64

üîπ Filas duplicadas: 0

üîπ Estad√≠sticas descriptivas:

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Total_inventorie
count,18,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,...,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01,1.800000e+01
unique,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,6.017333e+07,5.319333e+07,6.442667e+07,5.379333e+07,4.929667e+07,3.095333e+07,2.572000e+07,2.815667e+07,2.734667e+07,...,6.216333e+07,6.218000e+07,6.375667e+07,7.380000e+07,7.701000e+07,7.899667e+07,7.858667e+07,7.874000e+07,8.483333e+07,1.807443e+09
std,NaN,9.832114e+07,9.093674e+07,1.334523e+08,1.098456e+08,7.646814e+07,4.119290e+07,3.033843e+07,3.519118e+07,3.287335e+07,...,1.107032e+08,1.069212e+08,1.038164e+08,1.295863e+08,1.334180e+08,1.336003e+08,1.351788e+08,1.402042e+08,1.545693e+08,3.007602e+09
min,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,3.600000e+05,2.400000e+05,3.600000e+05,3.600000e+05,2.400000e+05,1.200000e+05,1.800000e+05,1.800000e+05,0.000000e+00,6.540000e+06
25%,NaN,5.865000e+06,7.725000e+06,7.305000e+06,8.400000e+06,7.965000e+06,5.865000e+06,7.035000e+06,6.720000e+06,6.405000e+06,...,5.250000e+06,5.250000e+06,5.250000e+06,5.250000e+06,5.250000e+06,5.250000e+06,5.040000e+06,5.040000e+06,5.040000e+06,1.943700e+08
50%,NaN,1.245000e+07,1.419000e+07,1.545000e+07,1.434000e+07,1.647000e+07,1.311000e+07,1.089000e+07,1.224000e+07,1.125000e+07,...,9.810000e+06,9.990000e+06,9.900000e+06,9.900000e+06,1.038000e+07,1.044000e+07,1.491000e+07,1.401000e+07,1.524000e+07,3.523800e+08
75%,NaN,7.609500e+07,6.094500e+07,5.521500e+07,3.765000e+07,3.903000e+07,3.633000e+07,3.636000e+07,3.666000e+07,3.706500e+07,...,4.036500e+07,4.036500e+07,4.827000e+07,4.141500e+07,4.137000e+07,4.363500e+07,4.314000e+07,4.278000e+07,4.186500e+07,1.280205e+09
max,NaN,3.589200e+08,3.690000e+08,5.653200e+08,4.688400e+08,2.452200e+08,1.380000e+08,9.600000e+07,1.140000e+08,9.618000e+07,...,4.096800e+08,3.667200e+08,3.201600e+08,4.500600e+08,4.478400e+08,4.172400e+08,4.221000e+08,4.855200e+08,5.361000e+08,9.457860e+09