In [2]:
import pandas as pd

df_consumo = pd.read_csv("src/data/Coffee_domestic_consumption.csv")

In [3]:
year_columns = [col for col in df_consumo.columns if '/' in str(col)]
print(year_columns[:10])  # ver las primeras columnas de años

['1990/91', '1991/92', '1992/93', '1993/94', '1994/95', '1995/96', '1996/97', '1997/98', '1998/99', '1999/00']

In [4]:
consumo_long = pd.melt(
    df_consumo,
    id_vars=['Country', 'Coffee type'],   # columnas que identifican cada fila
    value_vars=year_columns,              # columnas de años
    var_name='Year_Period',               # nombre de la columna temporal
    value_name='Domestic_Consumption'     # nombre de la variable
)

In [5]:
consumo_long['Year'] = consumo_long['Year_Period'].str.split('/').str[0].astype(int)
consumo_long = consumo_long.drop(columns=['Year_Period'])

In [6]:
consumo_long = consumo_long.rename(columns={'Country': 'País'})
consumo_long['Domestic_Consumption'] = pd.to_numeric(consumo_long['Domestic_Consumption'], errors="coerce")

In [6]:
consumo_long.to_csv("src/data/Coffee_domestic_consumption_long.csv", index=False)
consumo_long

,País,Coffee type,Domestic_Consumption,Year
0,Angola,Robusta/Arabica,1200000,1990
1,Bolivia (Plurinational State of),Arabica,1500000,1990
2,Brazil,Arabica/Robusta,492000000,1990
3,Burundi,Arabica/Robusta,120000,1990
4,Ecuador,Arabica/Robusta,21000000,1990
...,...,...,...,...
1645,Trinidad & Tobago,Robusta,600000,2019
1646,Uganda,Robusta/Arabica,15240000,2019
1647,Venezuela,Arabica,76500000,2019
1648,Viet Nam,Robusta/Arabica,159000000,2019
1649,Yemen,Arabica,3840000,2019

In [16]:
df_produccion = pd.read_csv('src\data\Coffee_production.csv')
df_produccion.head(5)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\blanc.TORRE-BLANCA\AppData\Local\Temp\ipykernel_11544\1884692574.py:1: SyntaxWarning: invalid escape sequence '\d'
  df_produccion = pd.read_csv('src\data\Coffee_production.csv')

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_production
0,Angola,Robusta/Arabica,3.000000e+06,4.740000e+06,4.680000e+06,1.980000e+06,4.620000e+06,3.720000e+06,4.260000e+06,3.840000e+06,...,1.740000e+06,1.980000e+06,2.100000e+06,2.340000e+06,2.460000e+06,2.700000e+06,2.100000e+06,2.520000e+06,3.120000e+06,8.208000e+07
1,Bolivia (Plurinational State of),Arabica,7.380000e+06,6.240000e+06,7.200000e+06,3.060000e+06,7.020000e+06,8.520000e+06,7.500000e+06,8.460000e+06,...,7.920000e+06,6.300000e+06,7.200000e+06,6.000000e+06,5.040000e+06,4.680000e+06,5.040000e+06,4.980000e+06,4.860000e+06,2.070000e+08
2,Brazil,Arabica/Robusta,1.637160e+09,1.637580e+09,2.076180e+09,1.690020e+09,1.691520e+09,1.083600e+09,1.751820e+09,1.568880e+09,...,2.915520e+09,3.325080e+09,3.281340e+09,3.198300e+09,3.172260e+09,3.407280e+09,3.164400e+09,3.907860e+09,3.492660e+09,7.508298e+10
3,Burundi,Arabica/Robusta,2.922000e+07,4.002000e+07,3.720000e+07,2.358000e+07,3.984000e+07,2.604000e+07,2.406000e+07,1.500000e+07,...,1.224000e+07,2.436000e+07,9.780000e+06,1.488000e+07,1.614000e+07,1.176000e+07,1.212000e+07,1.224000e+07,1.632000e+07,6.236400e+08
4,Ecuador,Arabica/Robusta,9.024000e+07,1.274400e+08,7.110000e+07,1.241400e+08,1.425600e+08,1.132800e+08,1.195800e+08,7.146000e+07,...,4.950000e+07,4.968000e+07,3.996000e+07,3.864000e+07,3.864000e+07,3.870000e+07,3.744000e+07,2.976000e+07,3.354000e+07,1.900380e+09

In [23]:
year_columns = [col for col in df_produccion.columns if '/' in str(col)]
print(year_columns[:10])  # ver las primeras columnas de años

['1990/91', '1991/92', '1992/93', '1993/94', '1994/95', '1995/96', '1996/97', '1997/98', '1998/99', '1999/00']

In [22]:
produccion_long = pd.melt(
    df_produccion,
    id_vars=['Country', 'Coffee type'],   # columnas que identifican cada fila
    value_vars=year_columns,              # columnas de años
    var_name='Year_Period',               # nombre de la columna temporal
    value_name='Total_production '     # nombre de la variable
)

In [24]:
produccion_long['Year'] = produccion_long['Year_Period'].str.split('/').str[0].astype(int)
produccion_long = produccion_long.drop(columns=['Year_Period'])

In [29]:
produccion_long = produccion_long.rename(columns={'Country': 'País'})
produccion_long['Total_production '] = pd.to_numeric(produccion_long['Total_production '], errors="coerce")

In [32]:
produccion_long.to_csv("src/data/Coffee_production_long.csv", index=False)
produccion_long

,País,Coffee type,Total_production,Year
0,Angola,Robusta/Arabica,3.000000e+06,1990
1,Bolivia (Plurinational State of),Arabica,7.380000e+06,1990
2,Brazil,Arabica/Robusta,1.637160e+09,1990
3,Burundi,Arabica/Robusta,2.922000e+07,1990
4,Ecuador,Arabica/Robusta,9.024000e+07,1990
...,...,...,...,...
1645,Trinidad & Tobago,Robusta,7.200000e+05,2019
1646,Uganda,Robusta/Arabica,3.305400e+08,2019
1647,Venezuela,Arabica,3.900000e+07,2019
1648,Viet Nam,Robusta/Arabica,1.829220e+09,2019
1649,Yemen,Arabica,5.460000e+06,2019

**ANALISIS BIVARIANTE**

Unir los excels