Analisis Inicial

In [1]:
import pandas as pd

In [2]:
df_cafe= pd.read_csv("./src/Coffee_domestic_consumption.csv")

In [3]:
df_cafe
df_cafe.head()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20,Total_domestic_consumption
0,Angola,Robusta/Arabica,1200000,1800000,2100000,1200000,1500000,600000,1200000,2400000,...,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,1800000,46500000
1,Bolivia (Plurinational State of),Arabica,1500000,1620000,1650000,1710000,1770000,1830000,1890000,1950000,...,2940000,3030000,3120000,3210000,3300000,3420000,3510000,3600000,3660000,75180000
2,Brazil,Arabica/Robusta,492000000,510000000,534000000,546000000,558000000,606000000,660000000,690000000,...,1183200000,1219800000,1205100000,1219980000,1230480000,1273500000,1319820000,1332000000,1320000000,27824700000
3,Burundi,Arabica/Robusta,120000,96000,102000,114600,120000,120000,120000,120000,...,120000,120000,120000,120000,120000,120000,120000,120000,120000,3412020
4,Ecuador,Arabica/Robusta,21000000,21000000,21000000,21000000,21000000,21000000,18000000,18000000,...,9000000,9000000,9300000,9300000,9300000,9300000,9300000,9300000,8940000,381540000

In [4]:
df_cafe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 33 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Country                     55 non-null     object
 1   Coffee type                 55 non-null     object
 2   1990/91                     55 non-null     int64
 3   1991/92                     55 non-null     int64
 4   1992/93                     55 non-null     int64
 5   1993/94                     55 non-null     int64
 6   1994/95                     55 non-null     int64
 7   1995/96                     55 non-null     int64
 8   1996/97                     55 non-null     int64
 9   1997/98                     55 non-null     int64
 10  1998/99                     55 non-null     int64
 11  1999/00                     55 non-null     int64
 12  2000/01                     55 non-null     int64
 13  2001/02                     55 non-null     int64
 14  2002/03                     55 non-null     int64
 15  2003/04                     55 non-null     int64
 16  2004/05                     55 non-null     int64
 17  2005/06                     55 non-null     int64
 18  2006/07                     55 non-null     int64
 19  2007/08                     55 non-null     int64
 20  2008/09                     55 non-null     int64
 21  2009/10                     55 non-null     int64
 22  2010/11                     55 non-null     int64
 23  2011/12                     55 non-null     int64
 24  2012/13                     55 non-null     int64
 25  2013/14                     55 non-null     int64
 26  2014/15                     55 non-null     int64
 27  2015/16                     55 non-null     int64
 28  2016/17                     55 non-null     int64
 29  2017/18                     55 non-null     int64
 30  2018/19                     55 non-null     int64
 31  2019/20                     55 non-null     int64
 32  Total_domestic_consumption  55 non-null     int64
dtypes: int64(31), object(2)
memory usage: 14.3+ KB